langchain
python-dotenv
ipykernel
langchain_community
pypdf
bs4
arxiv
pymupdf
langchain-text-splitters
sentence_transformers
langchain_huggingface
faiss-cpu
chromadb
langchain_chroma
streamlit
langchaIn_groq
FASTAPI
uvicorn
langserve
sse_starlette
wikipedia
pysqlite3-binary
torch 

